* {
    passing: 0;
    margin: 0;
}

#wrapper {
    margin: 0 auto;
    background-color: #00edfe;
    width: 1200px;
    height: 1000px;
}

#row1_col1 {
    background-color: #ccc;
    width: 45%;
    float: left;
    border: 1px solid #7e1fd4;
}

#row1_col2 {
    background-color: #00ffcc;
    width: 50%;
    float: right;
    border: 1px solid gray;
}

table {
    margin: 40px auto;
    background-color: white;
    width: 80%;
}

table tr:first-child {
    background-color: lightskyblue;
}

form {
    margin: 20px 25%;
}

input[type="submit"] {
    background_color: lightblue;
    width: 200px;
    height: 40px;
    margin-top: 20px;
}

input[type="submit"] {
    height: 35px;
}

table tr, td {
    text-align: center;
}